@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  background-color: black;
  color: white;
}

button {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

/* .treemap-piece {
  transition: all 0.2s;
} */

.treemap-piece:hover rect {
  stroke: #fff;
}

.treemap-piece:focus {
  outline: none;
}

.treemap-piece.selected rect {
  stroke: #fff;
}
